@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}
img {
  font-size: 0;
}

* {
  font-family: "Nunito";
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #e1bc29;
  border-radius: 4px;
}

svg {
  height: 100%;
  width: 100%;
}
